body {
    min-width: 1040px;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    color:  white;
    background-color: rgb(248,248,248);
    
  }

.header-logo  img {
    margin: 0 20px 0 50px;
    width: 90px;
    border-radius: 40%;
}

.container-items {
    /*Arranges elements in a horizontal row.*/
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

h1 {
     text-transform: uppercase;
     margin-top: 30px;
}

.page-header a {
    height: 20px;
    margin: 20px 20px 0 auto; 
    padding: 10px;
    text-decoration: none;
    color: white;   
    border: 2px solid white;
}

.page-header a:hover {
    background-color: rgba(110, 94, 61, 0.7);
}

.btns {
    margin: 30px 10px 0 auto;
}

.page-header {
    height: 120px;
    background-color: #443826;
}

.book-items {
    background-color: rgb(248,248,248);
    color: black;
    flex-wrap: wrap;
}

.item-img {
    margin: 15px;
    width: 130px;
    height: auto;
}

.book-description {
    font-size: 12px;
    margin-top: 0px;
}

.item {
    margin-left: 10px;
    width: 275px;
    height: 230px;
    padding: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 2%;
    box-shadow: -3px 3px 5px  rgba(0,0,0,0.1);
    background-color: white;
}

.name-book {
    font-weight: bold;
    font-size: 16px;
}

.author-book {
    font-size: 12px;
}

.btn {
    padding: 10px;
    margin: 0px 0 0px -5px;
    height: 20px;
    text-decoration: none;
    color:white;
    font-size: 11px;
    background-color: rgba(44,38,26, 0.9);
    text-transform: uppercase;
    }

    .btn:hover {
        background-color: rgba(110, 94, 61, 0.9);
    }

    .new-item-form {
        width: 455px;
        height: 425px; 
        display: none;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 2%;
        box-shadow: 0px 3px 5px  rgba(0,0,0,0.3);
    }

    .container-form {
        margin-left: 600px;
        position: fixed;
    }

    .text-form {
        width: 300px;
        height: 30px; 
    }

    .new-item-form label {
        margin: 5px 20px 0 -55px;
        width: 120px;
    }

    .new-item-form input {
        width: 200px;
    }

    .new-item-form h2 {
        margin-left: -40px;
    }

    .new-item-form  #submit {
        margin-top: 20px;
        padding: 10px 15px;
        text-align: center;
    }

     .close {
        margin: 5px 15px 0 auto;
        padding: 0 5px 0 5px;
        text-decoration: none;
    }

    .item .close {
        margin: -10px 0 0 97px;
    }


