body {
    min-width: 1040px;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 60px;
    font-family: "Arial", sans-serif;
    color:  white;
    background-image: url("img/books.jpg");
    background-attachment: fixed;
    background-size: cover;
    text-transform: uppercase;
  }

  .main-page h1 {
      margin-top: 100px;
      padding: 0px;
      font-size: 72px;
      text-align: center;
      text-shadow: black 5px 0 5px;
  }

  .container {
    margin-top: 80px;
    display: flex;
    height: 90px;
    justify-content: center;
}

  .btn {
      height: 60px;
      width: 400px;
      margin: 20px;
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
     
      background-color: transparent;
      text-shadow: black 5px 0 5px;
      color: white;
      border: 2px solid white;
      border-radius: 10px; 
      text-decoration: none; 
      word-wrap: wrap;
     
  }

  .background-btn {
    height: 60px;
    width: 400px;
    border-radius: 10px; 
    backdrop-filter: blur(5px);
  }

  .btn:hover {
        color: rgb(255, 238, 206);
  }

  .btn:first-child {
      margin-right: 50px;
  }

  .btn:nth-child(2) {
      margin-left: 50px;
  }




